.App {
  text-align: right;
  color: #DDACC3;
  background-image: url('./media/layered-waves-haikei.svg');
  background-color: #1A1A1A;
  background-repeat: no-repeat;
  background-position-y: bottom;
}

a {color: #9970ce;
text-decoration: none; }

a:hover {color:  #92bcec; }

.blue, .definition {color: #92bcec;}

button {background-color: #1A1A1A; 
  position: relative;
  top: -1px;
  margin-left: 4px;
  height: 31px;
  color: #DDACC3;
  border: 1px solid #9970ce;
  border-radius: 2px;
}

button:hover {background-color: #DDACC3;
color: #000000;}

button:active {position: relative;
top: 1.5px;}

.container {  position: relative;
min-height: 100vh;}

.definition, .Example, .Synonym, section {margin-bottom: 10px;}

.definition {font-size: 16pt;}

.definitionColumn {margin-bottom: 20px;
padding-left: 35px;
width: 95%;}

header {text-align: left;
  margin-top: 15px;
  color: #9970ce;
white-space: nowrap;}

header h2 {font-size: 28pt;
margin-left: 30px;}

#headerRow {position: fixed;
left: 12px;
  width: 100%;
  box-shadow: 0 3px 5px #272727;
  background-color: #1A1A1A;
  padding-bottom: 10px;
}

footer {text-align: center;}

form {margin-top: 25px;
white-space: nowrap;}

input {width: 200px;
  font-size: 14pt;
  background-color: #242424;
  border: 1px solid #9970ce;
  border-radius: 2px;
  color: #DDACC3;
}


.moon {width: 50px;
}

#partOfSpeech {padding-top: 20px;
margin-bottom: 15px;
padding-left: 12px;}

.purple, strong {color: #9970ce;}

.Phonetic i {font-size: 20pt; }

.Photos img {border-radius: 2px;
  margin-bottom: 20px;
}

.result {text-align: left;}

.results {padding-top: 100px;}


strong {font-size: 15pt;}

ul {list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
padding: 0;}

/*Phone Sized media query */

@media screen and (max-width: 500px) {
  header h2 {font-size: 22pt;
    white-space: normal;
   }

  form {position: relative;
  left: -14%;}

  
input {width: 170px;

}

  .moon {position: relative;
    top: 25px;
  }

  .results {padding-top: 160px;}
}